body {
  background: #1e1f26;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

canvas {
  background-color: black;
  height: 800px;
  width: 800px;
}
